{% extends "base.php.twig" %}

{% block content %}

    <div class="page-header">
        <h1 style="text-align: center;">Detailansicht</h1>
    </div>

    {% if (lines|length) == 0 %}

        <div class="noLinesFound">
            Die Liste ist noch leer. <br>
            Bitte oben auf ADD klicken!
        </div>

    {% else %}

        {% set gesamtK=0 %}
        {% set gesamtZ=0 %}

        {% for i in lines %}

            <div class="trackerLine">
                <div class="trackerDatum">
                    {{ i.getDay() }}
                </div>

                <div class="trackerStrecke">
                    {{ i.getStrecke() }} km
                    {% set gesamtK=gesamtK+i.getStrecke() %}
                </div>

                <div class="trackerZeit">
                    {{ i.getZeit() }} s
                    {% set gesamtZ=gesamtZ+i.getZeit() %}
                </div>

                <div class="trackerSpeed">
                    {{ i.getSpeed() | round(1, 'floor') }} m/s
                </div>

                <div class="trackerRemove">
                    <form method="post" action="functions/remove_element.php">
                        <input type="hidden" value="{{ i.getId() }}" name="id">
                        <input type="submit" value="löschen" name="removeForm">
                    </form>
                </div>
            </div>
        {% endfor %}



     {% endif %}


{% endblock %}