{% extends "base.php.twig" %}

{% block content %}

    <div class="page-header">
        <h1 style="text-align: center;">Startseite</h1>
    </div>

    {% if (lines|length) == 0 %}

        <div class="noLinesFound">
            Datenbank ist noch leer. <br>
        </div>

    {% else %}


        {% set gesamtStrecke_alex=0 %}
        {% set gesamtStrecke_jan=0 %}
        {% set gesamtStrecke_tim=0 %}

        {% for user in alex %}
            {% set gesamtStrecke_alex=gesamtStrecke_alex+user.getStrecke() %}
        {% endfor %}

        {% for user in jan %}
            {% set gesamtStrecke_jan=gesamtStrecke_jan+user.getStrecke() %}
        {% endfor %}

        {% for user in tim %}
            {% set gesamtStrecke_tim=gesamtStrecke_tim+user.getStrecke() %}
        {% endfor %}




        {% for user in lines %}

            <div class="trackerLine">

                <div class="trackerDatum1">
                    <a href="{{ path('profile', { name : user.getUsername() }) }}">
                        {{ user.getUsername() }}
                    </a>
                </div>

                <div class="trackerStrecke">

                    {% if user.getUsername()=="alex" %}
                        {{ alex|length }}
                    {% elseif user.getUsername()=="jan" %}
                        {{ jan|length }}
                    {% elseif user.getUsername()=="tim" %}
                        {{ tim|length }}
                    {% endif %}
                    tage
                </div>

                <div class="trackerZeit">

                    {% if user.getUsername()=="alex" %}
                        {{ gesamtStrecke_alex }}
                    {% elseif user.getUsername()=="jan" %}
                        {{ gesamtStrecke_jan }}
                    {% elseif user.getUsername()=="tim" %}
                        {{ gesamtStrecke_tim }}
                    {% endif %}
                    km
                </div>

            </div>

        {% endfor %}



    {% endif %}


{% endblock %}